SchoolOsPortal/InterfaceClass/InteLinkClass/InterLinkClass/Web References/PegPaySchoolsApi/SchoolApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pegasus.co.ug/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pegasus.co.ug/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pegasus.co.ug/">
      <s:element name="ExecuteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSetOnCB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSetOnCBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetOnCBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryOnCB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Entity" />
      <s:complexType name="Status">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Result">
        <s:complexContent mixed="false">
          <s:extension base="tns:Status">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PegPayID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ThirdPartyID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ExecuteNonQueryOnCBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteNonQueryOnCBResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSchool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sch" type="tns:School" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="School">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SchoolID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UnebCentreNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolLocation" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolType" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolCategories" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="PlotNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoadName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubCounty" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostOfficeBox" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LiquidationBankName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LiquidationAccountName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LiquidationAccountNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolLogo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Request">
        <s:complexContent mixed="false">
          <s:extension base="tns:Status">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSchoolResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="std" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PegPayStudentNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreamCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StudentCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfilePic" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ParentsName1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ParentsName2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ParentsPhoneNumber1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ParentsPhoneNumber2" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveStudentResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubLink" nillable="true" type="tns:SubLink" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubLink">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SubLinkName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubLinkCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfMenuItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="mainLink" type="tns:MainLink" />
              <s:element minOccurs="0" maxOccurs="1" name="subLinks" type="tns:ArrayOfSubLink" />
              <s:element minOccurs="0" maxOccurs="1" name="UserType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserCategory" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MainLink">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MainLinkName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MainLinkCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:SystemUserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemUserDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:SystemUser" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolDetails" type="tns:School" />
              <s:element minOccurs="0" maxOccurs="1" name="UserMenuOptions" type="tns:ArrayOfMenuItem" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SystemUser">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SecretKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApprovedBy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfilePic" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IsActive" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schcls" type="tns:SchoolClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchoolClass">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSchoolClassResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dept" type="tns:Department" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Department">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCategory" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDepartmentResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSubjectResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="semester" type="tns:SubjectResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubjectResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mark" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSubjectResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSubjectResultResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveUploadedFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="semester" type="tns:UploadedFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UploadedFile">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OperationCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileContents" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SPCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveUploadedFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveUploadedFileResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTeacherSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tch" type="tns:TeacherSubject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TeacherSubject">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TeacherId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreamCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveTeacherSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveTeacherSubjectResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveStudentSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="semester" type="tns:StudentSubject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StudentSubject">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveStudentSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveStudentSubjectResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSchoolStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staff" type="tns:SchoolStaff" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchoolStaff">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffCategory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffIDNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PegPayStaffIDNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfilePic" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSchoolStaffResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveClassStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stream" type="tns:ClassStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassStream">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreamCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreamName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveClassStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveClassStreamResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSystemUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SystemUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSystemUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSystemUserResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:Subject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Subject">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SubjectName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSubjectResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSchoolFees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="tns:SchoolFee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchoolFee">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FeeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FeeID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FeeAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FeeType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApprovedBy" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolFeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSchoolFeesResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveStudentFees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="tns:StudentFee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StudentFee">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FeeID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FeeType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TranID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentChannel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveStudentFeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveStudentFeesResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMainLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mainLink" type="tns:MainLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMainLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMainLinkResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSubLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:SubLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSubLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSubLinkResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSchoolTerm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:SchoolTerm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchoolTerm">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TermName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSchoolTermResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSchoolTermResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:UserType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserType">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserTypeCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserTypeName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveUserTypeResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:MenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMenuResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSet" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetOnCBSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetOnCB" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetOnCBSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetOnCBResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQueryOnCBSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryOnCB" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQueryOnCBSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryOnCBResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSchool" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSoapIn">
    <wsdl:part name="parameters" element="tns:SaveStudent" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSoapOut">
    <wsdl:part name="parameters" element="tns:SaveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolClassSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSchoolClass" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolClassSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSchoolClassResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDepartment" />
  </wsdl:message>
  <wsdl:message name="SaveDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSubjectResultSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSubjectResult" />
  </wsdl:message>
  <wsdl:message name="SaveSubjectResultSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSubjectResultResponse" />
  </wsdl:message>
  <wsdl:message name="SaveUploadedFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveUploadedFile" />
  </wsdl:message>
  <wsdl:message name="SaveUploadedFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveUploadedFileResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTeacherSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:SaveTeacherSubject" />
  </wsdl:message>
  <wsdl:message name="SaveTeacherSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:SaveTeacherSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:SaveStudentSubject" />
  </wsdl:message>
  <wsdl:message name="SaveStudentSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:SaveStudentSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolStaffSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSchoolStaff" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolStaffSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSchoolStaffResponse" />
  </wsdl:message>
  <wsdl:message name="SaveClassStreamSoapIn">
    <wsdl:part name="parameters" element="tns:SaveClassStream" />
  </wsdl:message>
  <wsdl:message name="SaveClassStreamSoapOut">
    <wsdl:part name="parameters" element="tns:SaveClassStreamResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSystemUserSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSystemUser" />
  </wsdl:message>
  <wsdl:message name="SaveSystemUserSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSystemUserResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSubject" />
  </wsdl:message>
  <wsdl:message name="SaveSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolFeesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSchoolFees" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolFeesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSchoolFeesResponse" />
  </wsdl:message>
  <wsdl:message name="SaveStudentFeesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveStudentFees" />
  </wsdl:message>
  <wsdl:message name="SaveStudentFeesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveStudentFeesResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMainLinkSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMainLink" />
  </wsdl:message>
  <wsdl:message name="SaveMainLinkSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMainLinkResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSubLinkSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSubLink" />
  </wsdl:message>
  <wsdl:message name="SaveSubLinkSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSubLinkResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolTermSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSchoolTerm" />
  </wsdl:message>
  <wsdl:message name="SaveSchoolTermSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSchoolTermResponse" />
  </wsdl:message>
  <wsdl:message name="SaveUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveUserType" />
  </wsdl:message>
  <wsdl:message name="SaveUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMenuSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMenu" />
  </wsdl:message>
  <wsdl:message name="SaveMenuSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ExecuteDataSet">
      <wsdl:input message="tns:ExecuteDataSetSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSetOnCB">
      <wsdl:input message="tns:ExecuteDataSetOnCBSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetOnCBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryOnCB">
      <wsdl:input message="tns:ExecuteNonQueryOnCBSoapIn" />
      <wsdl:output message="tns:ExecuteNonQueryOnCBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchool">
      <wsdl:input message="tns:SaveSchoolSoapIn" />
      <wsdl:output message="tns:SaveSchoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <wsdl:input message="tns:SaveStudentSoapIn" />
      <wsdl:output message="tns:SaveStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolClass">
      <wsdl:input message="tns:SaveSchoolClassSoapIn" />
      <wsdl:output message="tns:SaveSchoolClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDepartment">
      <wsdl:input message="tns:SaveDepartmentSoapIn" />
      <wsdl:output message="tns:SaveDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubjectResult">
      <wsdl:input message="tns:SaveSubjectResultSoapIn" />
      <wsdl:output message="tns:SaveSubjectResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveUploadedFile">
      <wsdl:input message="tns:SaveUploadedFileSoapIn" />
      <wsdl:output message="tns:SaveUploadedFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveTeacherSubject">
      <wsdl:input message="tns:SaveTeacherSubjectSoapIn" />
      <wsdl:output message="tns:SaveTeacherSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveStudentSubject">
      <wsdl:input message="tns:SaveStudentSubjectSoapIn" />
      <wsdl:output message="tns:SaveStudentSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolStaff">
      <wsdl:input message="tns:SaveSchoolStaffSoapIn" />
      <wsdl:output message="tns:SaveSchoolStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveClassStream">
      <wsdl:input message="tns:SaveClassStreamSoapIn" />
      <wsdl:output message="tns:SaveClassStreamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <wsdl:input message="tns:SaveSystemUserSoapIn" />
      <wsdl:output message="tns:SaveSystemUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubject">
      <wsdl:input message="tns:SaveSubjectSoapIn" />
      <wsdl:output message="tns:SaveSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolFees">
      <wsdl:input message="tns:SaveSchoolFeesSoapIn" />
      <wsdl:output message="tns:SaveSchoolFeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveStudentFees">
      <wsdl:input message="tns:SaveStudentFeesSoapIn" />
      <wsdl:output message="tns:SaveStudentFeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMainLink">
      <wsdl:input message="tns:SaveMainLinkSoapIn" />
      <wsdl:output message="tns:SaveMainLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubLink">
      <wsdl:input message="tns:SaveSubLinkSoapIn" />
      <wsdl:output message="tns:SaveSubLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolTerm">
      <wsdl:input message="tns:SaveSchoolTermSoapIn" />
      <wsdl:output message="tns:SaveSchoolTermSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserType">
      <wsdl:input message="tns:SaveUserTypeSoapIn" />
      <wsdl:output message="tns:SaveUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMenu">
      <wsdl:input message="tns:SaveMenuSoapIn" />
      <wsdl:output message="tns:SaveMenuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap:operation soapAction="http://pegasus.co.ug/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSetOnCB">
      <soap:operation soapAction="http://pegasus.co.ug/ExecuteDataSetOnCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://pegasus.co.ug/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryOnCB">
      <soap:operation soapAction="http://pegasus.co.ug/ExecuteNonQueryOnCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchool">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <soap:operation soapAction="http://pegasus.co.ug/SaveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://pegasus.co.ug/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolClass">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSchoolClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepartment">
      <soap:operation soapAction="http://pegasus.co.ug/SaveDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubjectResult">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSubjectResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUploadedFile">
      <soap:operation soapAction="http://pegasus.co.ug/SaveUploadedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTeacherSubject">
      <soap:operation soapAction="http://pegasus.co.ug/SaveTeacherSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudentSubject">
      <soap:operation soapAction="http://pegasus.co.ug/SaveStudentSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolStaff">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSchoolStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClassStream">
      <soap:operation soapAction="http://pegasus.co.ug/SaveClassStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSystemUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubject">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolFees">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSchoolFees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudentFees">
      <soap:operation soapAction="http://pegasus.co.ug/SaveStudentFees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMainLink">
      <soap:operation soapAction="http://pegasus.co.ug/SaveMainLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubLink">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSubLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolTerm">
      <soap:operation soapAction="http://pegasus.co.ug/SaveSchoolTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserType">
      <soap:operation soapAction="http://pegasus.co.ug/SaveUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMenu">
      <soap:operation soapAction="http://pegasus.co.ug/SaveMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap12:operation soapAction="http://pegasus.co.ug/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSetOnCB">
      <soap12:operation soapAction="http://pegasus.co.ug/ExecuteDataSetOnCB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://pegasus.co.ug/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryOnCB">
      <soap12:operation soapAction="http://pegasus.co.ug/ExecuteNonQueryOnCB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchool">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSchool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudent">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://pegasus.co.ug/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolClass">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSchoolClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepartment">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubjectResult">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSubjectResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUploadedFile">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveUploadedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTeacherSubject">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveTeacherSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudentSubject">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveStudentSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolStaff">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSchoolStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClassStream">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveClassStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSystemUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubject">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolFees">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSchoolFees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudentFees">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveStudentFees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMainLink">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveMainLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubLink">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSubLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchoolTerm">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveSchoolTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserType">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMenu">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2509/SchoolApi.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2509/SchoolApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>